<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
  <title>Rails for Startups.com</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ruby on Rails for Startups, MVP, Prototype">
    <meta name="author" content="Rails for Startups">
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "bootstrap-responsive" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>

    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

</head>

<body>
<%= render 'layouts/header' %>
 <div class="container">
    	<%= yield %>
    <%= render 'layouts/footer' %>
	</div>

</body>
</html>
